.navbar {
  position: sticky;
  top: 0;
  left: 0;
  height: 60px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
  z-index: 10;
  background: #fff;
}

.navbar a {
  font-weight: bold;
  font-size: 24px;
  color: rebeccapurple;
}
